{% extends "line/base.html" %} {% load static %} {% block content %}
<div class="text-center font-bold text-2xl mb-5">サービス一覧</div>

<div>
  {% for service in services %}
  <div class="border mb-5 w-full rounded-md">
    <a
      href="{% url 'line:staff' service.id %}{% if reservation_id %}?reservation_id={{ reservation_id }}{% endif %}{% if reservation_id %}&{% else %}?{% endif %}line_id={{line_id}}"
    >
      <div class="relative pb-[56.25%] overflow-hidden rounded-t-md">
        {% if service.image %}
        <img
          src="{{service.image.url}}"
          alt="画像"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
        {% else %}
        <img
          src="{% static 'img/noImage.png' %}"
          alt="画像"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
        {% endif %}
      </div>

      <div class="p-2 space-y-1">
        <div class="font-bold">{{ service.name }}</div>
        <div>料金：{{ service.price }}円</div>
        <div>所要時間：{{ service.duration }}時間</div>
        <div class="whitespace-pre-line">{{ service.description }}</div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
